{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'builder/css/editor.css' %} ">

<h1>Editing build: {{ build.name }}</h1>

<div id="lazy_wrapper">
    <h3 style="text-align: center">Relic List</h3>
    Description Includes:
    <select name="description_filter" id="description_filter">
        <option value="All">All</option>
        <option value="Flight">Flight</option>
        <option value="On Attack">On Attack</option>
        <option value="Follower">Follower</option>
        <option value="Orbiter">Orbiter</option>
    </select>
    &nbsp;Stats Include:
    <select name="stat_filter" id="stat_filter">
        <option value="All">All</option>
        <option value="msp">Move Speed</option>
        <option value="asp">Attack Speed</option>
        <option value="str">Strength</option>
        <option value="sta">Stamina</option>
        <option value="ene">Energy</option>
        <option value="arm">Armor</option>
    </select>

    <div id="relics_wrapper">
        {% for relic in relics %}
        <div class="relic_container_{{ relic.id }}">
            <div class="add_to_build" id="{{ relic.id }}"><button type="button" class="add_button_{{ relic.id }}">Add to Build</button></div>
            <div class="relic_name">{{ relic.name }}</div>
            <div class="relic_description">{{ relic.description }}</div>
            <div class="relic_stats">
                {% if relic.stat_increases %}
                    {% if relic.stat_increases.move_speed > 0 %}
                        <div class="msp">Movement Speed: {{ relic.stat_increases.move_speed }}</div>
                    {% endif %}
                    {% if relic.stat_increases.attack_speed > 0 %}
                        <div class="asp">Attack Speed: {{ relic.stat_increases.attack_speed }}%</div>
                    {% endif %}
                    {% if relic.stat_increases.strength > 0 %}
                        <div class="str">Strength: {{ relic.stat_increases.strength }}%</div>
                    {% endif %}
                    {% if relic.stat_increases.stamina > 0 %}
                        <div class="sta">Stamina: {{ relic.stat_increases.stamina }}%</div>
                    {% endif %}
                    {% if relic.stat_increases.energy > 0 %}
                        <div class="ene">Energy: {{ relic.stat_increases.energy }}%</div>
                    {% endif %}
                    {% if relic.stat_increases.armor > 0 %}
                        <div class="arm">Armor: {{ relic.stat_increases.armor }}%</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'builder/js/editor.js' %}" type="text/javascript"></script>